/* sfc-style:/Users/admin/Documents/Obsidian/Longbridge/.obsidian/plugins/obsidian-audio-player/src/components/App.vue?type=style&index=0 */
.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}
.loading-spinner {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
